{{- $authorTerms := .GetTerms "authors" -}}
{{- $displayAuthors := .Params.authors_display -}}

{{- if $authorTerms -}}
<div class="article-authors">
  {{- range $i, $term := $authorTerms -}}
    {{- $aff := "" -}}
    {{- $orcid := "" -}}
    {{- if $displayAuthors -}}
      {{- range $displayAuthors -}}
        {{- if and (reflect.IsMap .) (eq .name $term.LinkTitle) -}}
          {{- $aff = .affiliation -}}
          {{- $orcid = .orcid -}}
        {{- end -}}
      {{- end -}}
    {{- end -}}
    {{- if site.Data.authors -}}
      {{- with index site.Data.authors $term.Slug -}}
        {{- if not $aff }}{{- $aff = .affiliation -}}{{- end -}}
        {{- if not $orcid }}{{- $orcid = .orcid -}}{{- end -}}
      {{- end -}}
    {{- end -}}
    <div class="article-author-block">
      <a
        href="{{ $term.RelPermalink }}"
        class="article-author link"
        {{- if or $aff $orcid -}}
        title="{{ with $aff }}{{ . }}{{ end }}{{ if and $aff $orcid }} • {{ end }}{{ with $orcid }}ORCID: {{ . }}{{ end }}"
        {{- end -}}
      >{{ $term.LinkTitle }}</a>
    </div>
  {{- end -}}
</div>
{{- else if .Params.authors -}}
<div class="article-authors">
  {{- $list := .Params.authors -}}
  {{- if reflect.IsSlice $list -}}
    {{- range $i, $name := $list -}}
      {{- $aff := "" -}}
      {{- $orcid := "" -}}
      {{- if $displayAuthors -}}
        {{- range $displayAuthors -}}
          {{- if and (reflect.IsMap .) (eq .name $name) -}}
            {{- $aff = .affiliation -}}
            {{- $orcid = .orcid -}}
          {{- end -}}
        {{- end -}}
      {{- end -}}
      <div class="article-author-block">
        <span
          class="article-author"
          {{- if or $aff $orcid -}}
          title="{{ with $aff }}{{ . }}{{ end }}{{ if and $aff $orcid }} • {{ end }}{{ with $orcid }}ORCID: {{ . }}{{ end }}"
          {{- end -}}
        >{{ $name }}</span>
      </div>
    {{- end -}}
  {{- else -}}
    {{- $name := $list -}}
    {{- $aff := "" -}}
    {{- $orcid := "" -}}
    {{- if $displayAuthors -}}
      {{- range $displayAuthors -}}
        {{- if and (reflect.IsMap .) (eq .name $name) -}}
          {{- $aff = .affiliation -}}
          {{- $orcid = .orcid -}}
        {{- end -}}
      {{- end -}}
    {{- end -}}
    <div class="article-author-block">
      <span
        class="article-author"
        {{- if or $aff $orcid -}}
        title="{{ with $aff }}{{ . }}{{ end }}{{ if and $aff $orcid }} • {{ end }}{{ with $orcid }}ORCID: {{ . }}{{ end }}"
        {{- end -}}
      >{{ $name }}</span>
    </div>
  {{- end -}}
</div>
{{- end -}}
