{{- $hasTags := and .Params.tags (gt (len (.GetTerms "tags")) 0) -}}
{{- $hasAudience := and .Params.audience (gt (len (.GetTerms "audience")) 0) -}}
{{- $showReadingTime := .Params.readingTime | default .Site.Params.ShowReadingTime -}}
{{- if or $hasTags $hasAudience $showReadingTime }}
<div class="article-meta">
  {{ if $hasTags }}
  <span class="article-meta__label">Tags</span>
  <span class="article-meta__tags">
    {{ range $i, $t := (.GetTerms "tags") }}
      {{- if $i }}, {{ end -}}
      <a href="{{ .RelPermalink }}" class="article-meta__tag link">{{ .LinkTitle }}</a>
    {{ end }}
  </span>
  {{ end }}
  {{ if and $hasTags $showReadingTime }}<span class="article-meta__sep"> · </span>{{ end }}
  {{ if $showReadingTime }}
  <time class="article-meta__reading" datetime="PT{{ .ReadingTime }}M">{{ T "article.readingTime" .ReadingTime }}</time>
  {{ end }}
  {{ if $hasAudience }}
  <div class="article-meta__row">
    <span class="article-meta__label">Audience</span>
    <span class="article-meta__audience">
      {{ range $i, $a := (.GetTerms "audience") }}
        {{- if $i }}, {{ end -}}
        <a href="{{ .RelPermalink }}" class="article-meta__audience-link link">{{ .LinkTitle }}</a>
      {{ end }}
    </span>
  </div>
  {{ end }}
</div>
{{ end }}
